{% extends "base_layout.html" %}

{% block content %}
    <h3>Flights</h3>
    <div class="flight-list">
        {% for flight in flights %}
            <div class="flight-item">
                <div class="flight-flight_number"> {{flight.flight_number}} </div>
                <div class="flight-price"> ${{flight.price}} </div>
                <div class="flight-carrier"> {{flight.carrier}} </div>
                <div class="flight.start_time"> {{flight.start_time}} </div>
                <div class="flight.end_time"> {{flight.end_time}} </div>
            </div>
        {% endfor %}
        </div>



{% endblock content %}